.error{
    color: red;
}

.container {
    border: 2px solid #04AA6D;
    background-color: #111;
    border-radius: 15px;
    padding: 15px;
    width: 50%;
    margin: 0 auto;
    margin-top: 100px;
}

.element{
    background-color: #f1f1f1;
}

span{
    color: white;
    text-align: center;
    display: table;
    margin: 0 auto;
}

td{
    color: white;
}

table{
    margin: 0 auto;
}

button{
    background-color: #04AA6D;
    border: 1px solid rgb(39, 87, 49);
    display: table;
    margin: 0 auto;
}

.meniContainer {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
.meniElement {
    float: left;
}
  
a.meniElement {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li.meniElement a.meniElement:hover:not(.active) {
    background-color: #111;
}
  
.active {
    background-color: #04AA6D;
}